*.safetensors filter=lfs diff=lfs merge=lfs -text
*.jsonlines filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
zishu/training/data/train/bangumi_mega_06102025/bangumi_train.json filter=lfs diff=lfs merge=lfs -text
